<div class="container">
    <h2>User Profile</h2>
    <hr>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Hello, <?= $this->session->get('AUTH_NAME') ?></h5>
            <p class="card-text"><?= $this->session->get('AUTH_EMAIL') ?></p>
            <p class="card-text"><small class="text-muted">Created at <?=  date('d-m-Y H:m:s', $this->session->get('AUTH_CREATED')) ?></small></p>
            <?= $this->tag->linkTo(["user/logout", '<i class="fa fa-sign-out" aria-hidden="true"></i> Logout', "class" => "btn btn-danger"]); ?>
        </div>
    </div>
    <p><?php echo $this->flashSession->output() ?></p>
    <h3 class="pt-3">List User</h3>
    <?= $this->tag->linkTo(["user/create", '<i class="fa fa-plus"></i> Create User', "class" => "btn btn-success"]); ?>
    <table class="table mt-3">
    <thead>
        <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col"> Action </th>
        </tr>
    </thead>
    <tbody>
        <?php
            foreach($users as $key => $user)
            {
                $stt = 1;
                $active = '';
                if($user->active == 1)
                {
                    $active = '<span class="badge badge-success">Actice</span>' ;
                }else{
                    $active = '<span class="badge badge-danger">Disable</span>';
                }
                $id = str_replace(array("'",'%'),array('%27',"'"),urlencode($this->crypt->encryptBase64($user->id)));


                echo '
                <tr>
                    <th scope="row">'. $stt++ .'</th>
                    <td>'. $user->name . '</td>
                    <td>' . $user->email . '</td>
                    <td>' . $active . '</td>
                    <td>' .
                   
                     $this->tag->linkTo([
                        "user/update/".$id,
                        '<i class="fa fa-pencil"></i>',
                        "class" => "btn btn-primary",
                        "title" => "Edit Article"
                    ])
                    . ' ' .
                   
                     $this->tag->linkTo([
                        "user/delete/".$id,
                        '<i class="fa fa-trash"></i>',
                        "class" => "btn btn-danger",
                        "onclick" => "return confirm('Are you sure?')",
                        "title" => "Delete Article"
                    ])
                    .'
                </tr>
                
                ';
            }

        ?>
    </tbody>
    </table>
</div>