<div class="container">
<h2>Update User</h2>

<p><?php echo $this->flashSession->output() ?></p>
<?php
    # URL Segments
    $uri_segments = explode("/", $this->request->getUri());
?>
<?php echo $this->tag->form("user/update/submit"); ?>

    <div class="form-group">
        <label for="name">Full Name</label>
        <?php echo $form->render('name'); ?>
    </div>


    <div class="form-group">
        <?php echo $form->render('submit'); ?>
    </div>
    <?= $form->render('eid', ['value' => $uri_segments[count($uri_segments) - 1]]); ?>
</form>
</div>